services:
  deface-backend:
    build: 
      context: ./deface-backend
      dockerfile: Dockerfile
    container_name: deface-backend
    restart: unless-stopped
    networks:
      - deface-net
      - traefik-net
    volumes:
      - deface-volume:/app/data
    environment:
      - APP_ROOT_PATH=/api
      - CORS_ALLOW_ORIGINS=${DOMAIN_NAME}
      - CORS_ALLOW_METHODS=*
      - CORS_ALLOW_HEADERS=*
      - CsORS_ALLOW_CREDENTIALS=false
    labels:
      - "traefik.enable=true"
      # Hört nur auf den /api Pfad
      - "traefik.http.routers.deface-api.rule=Host(`${DOMAIN_NAME}`) && PathPrefix(`/api`)"
      - "traefik.http.routers.deface-api.entrypoints=websecure"
      - "traefik.http.routers.deface-api.tls.certresolver=letsencrypt"
      # Entfernt das "/api" bevor es beim FastAPI-Container ankommt
      - "traefik.http.middlewares.api-strip.stripprefix.prefixes=/api"
      - "traefik.http.routers.deface-api.middlewares=api-strip"
      - "traefik.http.services.deface-api.loadbalancer.server.port=8000"


  deface-frontend:
    build: 
      context: ./deface-frontend
      dockerfile: Dockerfile
    container_name: deface-frontend
    restart: unless-stopped
    networks:
      - traefik-net
    volumes:
      - deface-volume:/app/data
    environment:
        - VITE_IMAGE_DEFACE_ENDPOINT=https://${DOMAIN_NAME}/api/deface-image
    labels:
      - "traefik.enable=true"
      # Hört auf alles unter der Domain (niedrigere Priorität als das API-Match)
      - "traefik.http.routers.deface-fe.rule=Host(`${DOMAIN_NAME}`)"
      - "traefik.http.routers.deface-fe.entrypoints=websecure"
      - "traefik.http.routers.deface-fe.tls.certresolver=letsencrypt"
      - "traefik.http.services.deface-fe.loadbalancer.server.port=80"

  deface-telegram:
    build: 
      context: ./deface-telegram
      dockerfile: Dockerfile
    container_name: deface-telegram
    restart: unless-stopped
    networks:
      - deface-net
    volumes:
      - deface-volume:/app/data
    environment:
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - TELEGRAM_BOT_USERNAME=${TELEGRAM_BOT_USERNAME}
      - DEFACE_ENDPOINT=http://deface-backend:8000/deface-image
    labels:
      - "traefik.enable=false"

volumes:
  # wird zZt noch nicht benutzt
  deface-volume:
    external: true

networks:
  deface-net:
    external: true
  traefik-net:
    external: true

